html{
    font-size: 62.5%;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Source Serif 4', serif; */
}

#card-container{
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards{
    margin: 20px 20px 20px 20px;
    height: 30rem;
    width: 27.5rem;
    /* border: 1px solid black; */
    border-radius: 7px;
}

/* .cards:hover{
transform: rotateX(-20deg) rotateY(20deg);
}

.cards:hover ~ .chair-img{
    transform: rotateX(-10deg);
} */

.cards:hover{
    transform: rotateX(-10deg) rotateY(10deg);
}
    
.cards:hover ~ .chair-img{
    transform: rotateX(-10deg);
}

.cards:hover{
    background-color: #eaeef2;
}

.cards-img-block{
    padding: 10px 10px 10px 10px;
    margin: 15px 15px 15px 15px;
    height: 75%;
    background-color: #ffff;
    border-radius: 7px;
    /* border: 1px solid black */
}

.cards-img-block>div:first-child{
    height: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black */
}

.like-percent{
    font-size: 13px;
    padding: 2px 5px 2px 5px;
    background-color: #c0f5c5;
    border-radius: 2px;
}

.icon{
    font-size: 14px;
    background-color: #eaeef2;
    padding-left: 3px;
    padding-right: 3px;
    /* border: 1px solid black; */
}

.cards:hover section>div:first-child>p:last-child{
    color: black;
}

.cards-img-block>div:last-child{
    margin:auto;
}

.chair-img{
    margin-left: 3rem;
    margin-top: 1rem;
    width: 18rem;
    height: 18rem;
}

.cards-desc-block{
    margin-left: 15px;
    margin-right: 15px;
    /* border: 1px solid black; */
}

.cards-desc-block>h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: #484848;
}

.cards-desc-block>p{
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    margin-top: 0.3rem;
    font-weight: 400;
}

@media only screen and (max-width: 750px) {
    html{
        font-size: 52.5%;
    }
    .cards{
        margin: 2px 2px 2px 2px;
        border-radius: 7px;
    }
    .fa-eye, .icon{
        font-size: 12px;
    } 
}

@media only screen and (max-width: 480px){
    html{
        font-size: 38.5%;
    }
    .cards{
        margin: 5px 0.5px 5px 0.5px;
        border-radius: 7px;
        padding-bottom: 15px;
        height: 32rem;
    }
    .cards-img-block{
        /* height: 21px; */
    }
    .chair-img{
        margin-left: 5px;
        margin-top: 0px;
        /* width: 18rem;
        height: 16rem; */
    }
    .like-percent{
        font-size: 8px;
        padding: 1px 2px 1px 2px;
        border-radius: 2px;
    }
    .fa-eye, .icon{
        font-size: 8px;
    } 
}